<div
  class="button-wrapper"
  [ngClass]="{
    'left-button center-position': position === 'center',
    'hide-button': buttonDisplay === 'left',
    'show-button': buttonDisplay !== 'left'
  }"
>
  <div [ngSwitch]="scrollButtonTemplate">
    <ng-container
      *ngSwitchCase="true"
      [ngTemplateOutlet]="buttonTemplateOut"
      [ngTemplateOutletContext]="{
        $implicit: -1,
        style: 'transform: scaleX(-1)'
      }"
    >
    </ng-container>

    <ng-container
      *ngSwitchDefault
      [ngTemplateOutlet]="defaultButtonTemplate"
      [ngTemplateOutletContext]="{
        $implicit: -1,
        style: 'transform: scaleX(-1)'
      }"
    >
    </ng-container>
  </div>
</div>

<div
  class="button-wrapper"
  [ngClass]="{
    'right-button center-position': position === 'center',
    'hide-button': buttonDisplay === 'right',
    'show-button': buttonDisplay !== 'right'
  }"
>
  <div [ngSwitch]="scrollButtonTemplate">
    <ng-container
      *ngSwitchCase="true"
      [ngTemplateOutlet]="buttonTemplateOut"
      [ngTemplateOutletContext]="{
        $implicit: 1,
      }"
    >
    </ng-container>

    <ng-container
      *ngSwitchDefault
      [ngTemplateOutlet]="defaultButtonTemplate"
      [ngTemplateOutletContext]="{
        $implicit: 1,
      }"
    >
    </ng-container>
  </div>
</div>

<ng-template #defaultButtonTemplate let-direction let-style="style">
  <button class="default-button" (click)="scroll(direction)" [style]="style">
    <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z"></path>
    </svg>
  </button>
</ng-template>

<ng-template #buttonTemplateOut let-direction let-style="style">
  <div (click)="scroll(direction)" [style]="style">
    <ng-container *ngTemplateOutlet="scrollButtonTemplate"></ng-container>
  </div>
</ng-template>
