.container {
  display: flex;
  gap: 10px;
}

.input-radio {
  display: flex;
  gap: 5px;
}

code {
  background-color: #393030;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="radio"] {
  margin: 0;
}

input,
textarea {
  border: none;
  border-radius: 3px;
  padding-left: 5px;
  line-height: 2;
  margin-right: 5px;
}

section,
.controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls-wrapper {
  padding: 20px;
  border-radius: 10px;
  background-color: #558bf1;
  color: white;
  display: grid;
  margin: 0px 20px 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.example {
  min-height: 185px;
}
