<div class="container">
  <h2>⚙️ How to use</h2>
  <p>Install the package using npm</p>

  <pre>
  <code [highlight]="code1" [languages]="['bash']"  [lineNumbers]="false">
  </code>
</pre>

  <p>
    Import the <span class="code">AngularHorizontalScrollModule</span> or
    <span class="code">AngularHorizontalScrollComponent</span> in your module or
    standalone component:
  </p>
  <br />
  <p style="font-weight: 500">Module</p>
  <pre>
  <code [highlight]="code2" [languages]="['typescript']"></code>
</pre>
  <p style="font-weight: 500">Standalone</p>
  <pre>
    <code [highlight]="code3" [languages]="['typescript']"></code>
</pre>

  <p>
    Include your content within the
    <span class="code">horizontal-scroll</span> tags:
  </p>
  <pre>
    <code [highlight]="code4" [languages]="['xml']"></code>
</pre>
</div>
