.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: #e9ecef;
  border-radius: 5px;
  box-shadow: rgba(37, 38, 39, 0.04) 0px 3px 5px -2px,
    rgba(37, 38, 39, 0.06) 0px 7px 14px -5px;
  min-width: 21%;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.date {
  background: #fe921f;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  padding: 10px 15px 8px;
  text-transform: uppercase;
  border-radius: 5px;
}
