h1 {
  padding: 20px;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: #e9ecef;
  border-radius: 5px;
  box-shadow: rgba(37, 38, 39, 0.04) 0px 3px 5px -2px,
    rgba(37, 38, 39, 0.06) 0px 7px 14px -5px;
  min-width: 21%;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.box {
  margin-top: 20px !important;
  flex: 0 0 120px;
  width: 120px;
  height: 100px;
  background: orange;
  background-color: orange;
  margin: 0 10px 0 5px;
  margin-top: 0px;
  margin-left: 5px;
  transition: 0.4s;
  border-radius: 10px;
  background-color: #f6f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6c6c6c;
  &:hover {
    transform: scale(1.1);
    background: #ffffff;
    color: #eb4452;
    z-index: 2;
    box-shadow: 0 0 10px 2px #e6e6e6;
    cursor: pointer;
    svg {
      fill: #eb4452;
      stroke: #eb4452;
    }
  }
  svg {
    fill: #e0e0e0;
  }
}
