<h1>Angular Horizontal Scroll Wrapper</h1>
<p>A wrapper for the contents to be scrollable horizontal</p>
<app-how-to-use-section />
<section class="examples-section">
  <h2>Examples</h2>
  <div class="wrapper">
    <div class="example-container">
      <app-default-example />

      <app-button-position-example />

      <app-scrollbar-example />
    </div>

    <div class="example-container">
      <app-custom-button-example />

      <app-custom-header-example />

      <app-custom-styles-example />
    </div>
  </div>

  <app-api-playground></app-api-playground>
</section>
