<div
  class="btn-wrapper"
  [ngClass]="{
    'left-btn center-position': position === 'center',
    'hide-btn': shouldHideBtn('left'),
  }"
>
  <div [ngSwitch]="scrollButtonTemplate !== undefined">
    <ng-container
      *ngSwitchCase="true"
      [ngTemplateOutlet]="buttonTemplateOut"
      [ngTemplateOutletContext]="{
        $implicit: -1,
        style: 'transform: scaleX(-1)'
      }"
    >
    </ng-container>

    <ng-container
      *ngSwitchDefault
      [ngTemplateOutlet]="defaultButtonTemplate"
      [ngTemplateOutletContext]="{
        $implicit: -1,
        style: 'transform: scaleX(-1);' + btnStyles.inlineStyle
      }"
    >
    </ng-container>
  </div>
</div>

<div
  class="btn-wrapper"
  [ngClass]="{
    'right-btn center-position': position === 'center',
    'hide-btn': shouldHideBtn('right'),
  }"
>
  <div [ngSwitch]="scrollButtonTemplate !== undefined">
    <ng-container
      *ngSwitchCase="true"
      [ngTemplateOutlet]="buttonTemplateOut"
      [ngTemplateOutletContext]="{
        $implicit: 1,
      }"
    >
    </ng-container>

    <ng-container
      *ngSwitchDefault
      [ngTemplateOutlet]="defaultButtonTemplate"
      [ngTemplateOutletContext]="{
        $implicit: 1,
        style: btnStyles.inlineStyle
      }"
    >
    </ng-container>
  </div>
</div>

<ng-template #defaultButtonTemplate let-direction let-style="style">
  <button
    class="default-btn scroll-btn"
    (click)="scroll(direction)"
    [style]="style"
  >
    <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z"></path>
    </svg>
  </button>
</ng-template>

<ng-template #buttonTemplateOut let-direction let-style="style">
  <div class="scroll-btn" (click)="scroll(direction)" [style]="style">
    <ng-container *ngTemplateOutlet="scrollButtonTemplate"></ng-container>
  </div>
</ng-template>
