.container {
  border-radius: 5px;
  border: 1px solid rgba(5, 5, 5, 0.06);
  height: 100%;
}

.content-wrapper {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  padding: 10px 0;
  min-height: 190px;
}

.explanation {
  padding: 10px;
}
