<app-example-holder
  explanation="You can try and customize your container"
  [code]="code"
>
  <div class="example">
    <horizontal-scroll
      headerTitleTemplate="API Playground"
      [scrollAmount]="controls.mainControls.scrollAmount"
      [scrollButtonPosition]="controls.mainControls.scrollButtonPosition"
      [showScrollbar]="controls.mainControls.showScrollbar"
      [containerStyles]="containerStyles"
      [buttonStyles]="buttonStyles"
    >
      @for (data of exampleData; track $index) {
      <div class="box">
        <span
          class="emoji"
          [style.--hover-color]="data.color"
          [style.--hover-rotate]="data.rotate"
          >{{ data.emoji }}</span
        >
      </div>
      }
    </horizontal-scroll>
  </div>

  <div class="controls-wrapper">
    <app-main-controls (mainControls)="setMainControls($event)" />
    <app-container-controls (controlsChange)="setContainerControls($event)" />
    <app-buttons-controls (controlsChange)="setButtonsControls($event)" />
  </div>
</app-example-holder>
