:root {
  --_spacer: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
}
h1 {
  font-size: 24px;
}

.emoji {
  font-size: 20px;
  transform: rotate(0deg);
}

.box {
  margin: 10px 0px;
  flex: 0 0 120px;
  width: 120px;
  height: 100px;
  transition: 0.4s;
  border-radius: 10px;
  background-color: #f6f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6c6c6c;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    background: #ffffff;
    z-index: 2;
    box-shadow: 0 0 10px 2px #e6e6e6;
    cursor: pointer;
    .emoji {
      color: var(--hover-color);
      font-size: 25px;
      transform: rotate(var(--hover-rotate));
    }
  }
}
