<div class="scroll-container">
  <div class="custom-slider-buttons">
    <button class="arrow" (click)="scrollLeft()">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3031/3031716.png"
        alt=""
        style="transform: rotate(180deg)"
      />
    </button>
    <button class="arrow" (click)="scrollRight()">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3031/3031716.png"
        alt=""
      />
    </button>
  </div>

  <div
    #widgetsContent
    class="media-scroller media-scroller--with-groups snaps-inline"
  >
    <ng-content></ng-content>
  </div>
</div>
