<div class="scroll-container">
  <div class="scroll-header">
    <!-- Check the type of contentTemplate -->
    <ng-container *ngIf="isStringTemplate; else templateOutlet">
      <h1>{{ headerTitleTemplate }}</h1>
    </ng-container>
    <ng-template #templateOutlet>
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </ng-template>

    <app-image-scroll-buttons
      [widgetsContent]="widgetsContent"
      [scrollAmount]="getScrollAmount"
      [buttonDisplay]="overflowValue"
      position="top right"
      class="scroll-buttons"
      *ngIf="hasOverflow && scrollButtonPosition === 'top right'"
    ></app-image-scroll-buttons>
  </div>

  <div class="scroll-wrapper">
    <div
      #widgetsContent
      class="media-scroller media-scroller--with-groups snaps-inline"
      (scroll)="onScroll($event)"
    >
      <ng-content></ng-content>
    </div>

    <app-image-scroll-buttons
      [widgetsContent]="widgetsContent"
      [scrollAmount]="getScrollAmount"
      [buttonDisplay]="overflowValue"
      position="center"
      *ngIf="hasOverflow && scrollButtonPosition === 'center'"
    ></app-image-scroll-buttons>
  </div>
</div>
